<div class="container-fluid home-page">
	<div class="row ">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-5 col-7 mx-auto">
          <img src="/assets/404.svg" width="100%">
				</div>
			</div>
		</div>
	</div>
</div>